body
{
    background-color: #000;
}
#welcomeMessage p a, #watermark a
{
    text-decoration: underline;
}
#welcomeMessage p a, #welcomeMessage p a:visited, #welcomeMessage p a:active, #welcomeMessage p a:hover
#watermark a, #watermark a:visited, #watermark a:active, #watermark a:hover
{
    color: #CCC;
}
.dropdown-menu a
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
#canvas
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#welcomeMessage
{
    width: 650px;
    top: 100px;
    padding: 20px;
    font-size: 14px;
    margin: auto;
    position: relative;
    background: rgba(0, 0, 0, 0.85);
}
#welcomeMessage #welcomeText
{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#container
{
    margin: auto;
    width: 1280px;
    position: relative;
}
#header
{
    text-align: center;
    color: white;
    width: auto;
    text-shadow:
    -1px -1px 0 #000,
    -1px 0px 0 #000,
    -1px 1px 0 #000,
    0px -1px 0 #000,
    0px 1px 0 #000,
    1px -1px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000;
}
#messageContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}
.form-horizontal, .form-horizontal .control-group:last-child, #advancedOptions
{
    margin-bottom: 0px;
}
#watermark
{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}
#seed
{
    font-style: italic;
}
#progress, #remainingHolder, #info, #end
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    width: 20em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
#remainingHolder
{
    position: relative;
}
#timeRemaining
{
    width: 17em;
    line-height: 20px;
}
#stopEarly
{
    position: absolute;
    top: 9px;
    right: 15px;
}
input
{
    width: auto;
}
#end
{
    padding-bottom: 0px;
}
#end .btn
{
    margin-bottom: 14px;
}
#endMessage
{
    margin-bottom: 10px;
}
#advancedOptions
{
    margin-top: 20px;
}
