[submodule "Libraries/Substrate"]
	path = Libraries/Substrate
	url = git://github.com/hach-que/Substrate.git
[submodule "Libraries/NBTExplorer"]
	path = Libraries/NBTExplorer
	url = git://github.com/hach-que/NBTExplorer.git
[submodule "Libraries/Voxeliq"]
	path = Libraries/Voxeliq
	url = git://github.com/hach-que/voxeliq.git
[submodule "Libraries/Redpoint.FlowGraph"]
	path = Libraries/Redpoint.FlowGraph
	url = git://github.com/hach-que/Redpoint.FlowGraph.git
[submodule "Libraries/MonoGame"]
	path = Libraries/MonoGame
	url = git://github.com/mono/MonoGame.git
[submodule "Tychaia.Content"]
	path = Tychaia.Content
	url = git://github.com/hach-que/Tychaia.Content.git
[submodule "Build/cslint"]
	path = Build/cslint
	url = git://github.com/hach-que/cslint.git
[submodule "Libraries/cscjvm"]
	path = Libraries/cscjvm
	url = git://github.com/hach-que/cscjvm.git
[submodule "Libraries/Dx"]
	path = Libraries/Dx
	url = git://github.com/hach-que/Dx.git
[submodule "Protogame"]
	path = Protogame
	url = git://github.com/hach-que/Protogame.git
