[submodule "Libraries/Redpoint.FlowGraph"]
	path = Libraries/Redpoint.FlowGraph
	url = git://github.com/hach-que/Redpoint.FlowGraph.git
[submodule "Protogame"]
	path = Protogame
	url = git://github.com/hach-que/Protogame.git
[submodule "cstools"]
	path = cstools
	url = git://github.com/hach-que/cstools.git
