<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="images/*.png" type="MakeMeAWorld.ImageGenerator, MakeMeAWorld" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="pngs" verb="*" path="images/*.png"
           type="MakeMeAWorld.ImageGenerator, MakeMeAWorld" preCondition="managedHandler" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>
</configuration>
