@* Generator: MvcView *@
@* VirtualPath: ~/Views/Download/Index.cshtml *@
@model Tychaia.Website.ViewModels.DownloadViewModel
@{
    ViewBag.Title = "Download Pre-Alpha";
}

<h2>Pre-Alpha Downloads</h2>
<div class="block">
    <p>
        Tychaia is still in early development.  The builds we provide should be expected
        to be buggy and in some cases, just not work at all.
    </p>
</div>
<h2>Download from Build Server</h2>
<div class="block">
    @if (Model.BuildServerOnline)
    {
        <p>
            You can download the latest builds below:
        </p>
        <p class="download">
            <a href="http://update.redpointsoftware.com.au/Tychaia-Windows/zip">
                <img src="/Content/download_for_windows.png" /> Download Pre-Alpha for Windows
            </a>
        </p>
        <p class="download">
            <a href="http://update.redpointsoftware.com.au/Tychaia-Linux/zip">
                <img src="/Content/download_for_linux.png" /> Download Pre-Alpha for Linux
            </a>
        </p>
    }
    else
    {
        <p>
            The build server is currently offline.  If you wish, you can build a copy of
            Tychaia by downloading the source code from <a href="https://github.com/hach-que/Tychaia">GitHub</a>.
        </p>
    }
</div>
<h2>What happens after Pre-Alpha?</h2>
<div class="block">
    <p>
        The plan is that when we hit Alpha (expected Dec 2013), the above links will go away,
        and the price for the game will be set at $7.
    </p>
    <p>
        We'll initially be selling the game through this website, but hope to make the game
        available at various digital distribution sites once the game reaches Beta.
    </p>
    <p>
        <em>This is subject to change without notice.</em>
    </p>
</div>