<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="generic-username" value="crash-reporter" />
    <add key="generic-certificate" value="y3jplv35imfesns5wxin7i6iv6jlqnasfs6mjwvvgp6mfnkagkrp6v2roif53gtcp56tuf3vd3dlb2vaue5radybntoidyrfk7teifi6u4lxotlev7go45ebz7brmlkgeruta53e2yi54vacsgbiqd7lty2pn3hsyewnwkwmanxyqjdkwvujg2pelojwjr567hco3nn4o64pfmlddhvcn4utnpu6zdeuig5fua6g6calljcdlev53v5aaptv6gg" />
    <add key="generic-PHID" value="PHID-USER-qeop3bethxve7d3dcdqc"/>
  </appSettings>
</configuration>