@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Metamorphous);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#coordinates_container {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: 40px;
}

#coordinates_container div {
    margin: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

#logo
{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Metamorphous,sans-serif;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}